.wrapper {
    margin-top: 71px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.list-of-projects {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 75vw;
    flex-wrap: wrap;
}

.card {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: black 2px solid;
}

.card img {
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: inherit;
}