html {
  scroll-behavior: smooth;
}

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

/* ---NAVBAR CSS--- */
.navbar {
  background-color: white;
  overflow: hidden;
  padding: 16px 16px;
  border-bottom: black 2px solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
}

.nav-link {
  color: grey;
  padding: 0px 20px;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
}

.nav-link:hover {
  color: black;
}

.logo {
  font-size: 30px;
  padding: 0px 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.section-title {
  font-weight: bold;
  font-size: 40px;
}

/* ---INTRO CSS--- */
.intro {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

#name {
  font-size: 40px;
  font-weight: bold;
  margin: 0px;
}

#desc {
  font-size: 22px;
  margin: 0px;
  color: grey;
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 71px;
}

.right-side {
  margin-top: 71px;
}

#solopic {
  height: 75vh;
  border-radius: 10px;
}

/* ---ABOUT ME CSS--- */
.about-me {
  background-color: black;
  color: white;
  height: fit-content;
  text-align: justify;
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 40px;
}

#about-text {
  width: 1000px;
  font-size: 18px;
}

#about-text span {
  font-weight: bold;
}

/* ---FEATURED PROJECTS CSS--- */
.featured-projects {
  height: fit-content;
  justify-items: center;
  padding: 100px 0px;
}

.featured-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#projects-link {
  color: grey;
  padding: 5px;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
}

#projects-link:hover {
  color: black;
}

/* project carousel */
.carousel-body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-height: fit-content;
  z-index: -1;
}

.swiper {
  width: 100%;
  padding: 50px 0px;
}

.swiper-slide {
  position: relative;
  width: 450px;
  aspect-ratio: 16/9;
  border-radius: 10px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: inherit;
  user-select: none;
}

.swiper-slide > .title {
  width: max-content;
  text-align: center;
  padding: 10px 5px;
  transition: all 0.5s linear;
}

.swiper-slide > .title > span {
  font-size: 14px;
  font-weight: bold;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: grey;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.swiper-pagination-bullet-active {
  width: 25px;
  background-color: lightgrey;
  border-radius: 14px;
}

.swiper-button-next::after, .swiper-button-prev::after {
    display: none;
}

.swiper-button-next, .swiper-button-prev {
    font-size: 30px;
    color: lightgrey;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    height: 30px;
    width: 30px;
    transition: all 0.3s ease-in-out;
}

.swiper-button-next {
    right: 30px;
}

.swiper-button-prev {
    left: 30px;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
    color: grey;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

/* ---FOOTER CSS--- */
.footer {
  background-color: black;
  color: grey;
  height: fit-content;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding: 50px;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.social-link {
  color: grey;
  text-decoration: none;
  font-size: 25px;
  transition-duration: 0.4s;
}

.social-link:hover {
  color: white;
}
